.close {
    cursor: pointer;
}

.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    /* margin:auto; */
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  .clearbtn{
    position: absolute;
    bottom: -5px;
    float: right;
    right: 0px;
  }
  .mat_icon_clear {
    color: #898989 ;
    font-size: 16px;
  }
  .remove_btn {
    cursor: pointer;
  }